#form__container {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #262625;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lobby__form {
  padding: 2em;
}

#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  background-color: #363739;
  margin: 0;
  font-size: 18px;
  font-size: 300;
  line-height: 0;
}

.form__field__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form__field__wrapper label {
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 10px;
  display: block;
}

.form__field__wrapper input {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color: #3f434a;
}

    .form__field__wrapper button[type='submit'] {
        margin-top: 32px;
        cursor: pointer;
        background-color: var(--prim-color);
        border: none;
        color: #fff;
        font-size: 16px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        border-radius: 5px;
        gap: 10px;
    }

.form__field__wrapper button[type='submit'] svg {
  fill: #ede0e0;
  width: 20px;
}

#avatar__selection {
  margin-reight: 10px;
  display: flex;
  gap: 1em;
}

.avatar__option {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #797a79;
}

.avatar__option__selected {
  border: 3px solid #845695;
}

.log-in {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.log-in h4 {
  text-align: center;
  font-size: 24px;
}

.log-in p {
  text-align: center;
  margin-bottom: 20px;
}

.floating-label {
  position: relative;
  margin-bottom: 20px;
}

.floating-label input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.floating-label label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: 0.2s all ease-in-out;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: -20px;
  font-size: 12px;
  color: #333;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #bf2654;
  border: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .log-in {
    max-width: 100%;
  }
}
